footer {
    position: relative;
    margin-top: 2rem;
    clear: both;
}

.pagetitle {
    margin-left: 1rem;
}

.footerlabel {
    margin-right: 10px;
}

.globalhorizontalspacing {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.backbtn {
    position: relative;
    margin: 10px;
}

.globalforms {
    max-width: 28rem;
    margin-left: 2rem;
}

.profile-pic {
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
}