main {
    margin-top: 3rem;
}

.body-profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 25%;
    margin-left: 4rem;
    margin-right: 4rem;
    float: left;
}

.profile-description {
    padding-top: 1rem;
}