main {
    margin-top: 2rem;
}

.body-profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 25%;
}

.picture-edit {
    float: left;
    max-width: 200px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.changeimgbtn {
    margin-top: 10px;
}

.profile-description {
    padding-top: 1rem;
}

.edit-form {
    display: inline-block;
}